.form-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #000000, #020224, #020120);
}

.form-content .form-description {
    color: #eeff05;
    width: 100%;
    max-width: 380px;
}

.form-content .form-description .icon {
    width: 350px;
    color: #eeff05;
}

.form-content .form-description h1 {
    color: #eeff05;
    margin: 64px 0 32px;
    font-size: 32px;
    text-justify: auto;
    text-align: center;
    width: 400px;
}

.form-content .form-description p {
    color: #eeff05;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.form-content form {
    color: #eeff05;
    width: 100%;
    max-width: 400px;
    min-width: 250px;
}

.form-content form h1 {
    color: #eeff05;
    margin-bottom: 20px;
}

.form-content form h2 {
    color: #eeff05;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-content form .checkBox-item {
    width: 177px;
    margin-left: 0px;
    margin-right: 0px;
}

.form-content form input, .form-content form textarea {
    margin-top: 8px;
}