@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

p, h1, h2, h3 {
  text-align: justify;
}

body {
  font: 400 14px Roboto, sans-serif;
  background-color: #f0f0f5;
  -webkit-font-smoothing: antialiases;
  padding-top: 0px;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  min-height: 140px;
  resize: vertical;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.button {
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  height: 65px;
  border-left: 1px;
  border-style: none;
  border-radius: 8px;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 240%;
  transition: all 0.5s;
  background-color: #00aeed;
  color: white;
  transition: 0.3s;
}

.button:hover {
  color: #026a99;
  background-color: white;
  border: 1px solid #00aeed;
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
  background-color: transparent;
  border: none;
}